.menu{
    display: flex;
    text-align: center;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    font-size: 2rem;
    padding: 20px;
  }

  .Footer {
    position:relative;
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    color: #6a3003; 
    text-align: center;
  }